@import url('https://fonts.cdnfonts.com/css/alsina');

body{
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.heading{
    font-family: 'Alsina', sans-serif;
    font-size: 5vw;
    margin-top: 3rem;
}